<p>Miss Miao received her academic training over four years in Beijing and three years in Hong Kong. With a background in bioinformatics, she currently focuses on environmental microbiology, disinfection-related microbial responses, and antimicrobial resistance. Miss Miao believes that queerness is infinity and cares deeply about women’s and LGBTQ+ rights. Time however, is finite; outside the lab, she spends a disproportionate amount of it watching TV and playing <em>Path to Nowhere</em>.</p>

<p><strong>Contact</strong>:</p>
<ul>
  <li>GitHub: <a href="https://github.com/liilymiao" target="_blank" rel="noopener">github.com/liilymiao</a></li>
</ul>
